%% -*- mode: erlang; indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.

{deps, [ {aesophia, {git, "/home/radek/aesophia_qf/.git",
                     {branch, "repl-branch"}}}
       , {aebytecode, {git, "https://github.com/aeternity/aebytecode.git",
                       {ref,"5e16b85"}}}
       , {trace_runner, {git, "git://github.com/uwiger/trace_runner.git",
                        {ref, "303ef2f"}}}
       , {ecrecover, {git, "https://github.com/aeternity/ecrecover.git",
                     {ref, "b3b6421"}}}
       , {enacl, {git, "https://github.com/aeternity/enacl.git",
                {ref, "26180f4"}}}
       , {lager, {git, "https://github.com/aeternity/lager.git",
                {ref, "9d97ae3"}}}
       , {aeminer, {git, "https://github.com/aeternity/aeminer.git",
                   {ref, "0a82f0f"}}}
       , {exometer_core, "1.5.7"}
       ]}.

{dialyzer, [ {warnings, [unknown]}
           , {plt_apps, all_deps}
           , {base_plt_apps, [erts, kernel, stdlib, crypto, mnesia]}
           ]}.

{relx, [{release, {aerepl, "0.1"},
         [aerepl, aesophia, aebytecode, aebytecode, aecore, aecontracts, aefate, aetx]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{shell, [{apps,  [aerepl, aesophia, aebytecode, aebytecode, aecore, aecontracts, aefate, aetx]}]}.


{erl_opts, [debug_info, {parse_transform, lager_transform},
            {lager_extra_sinks, [epoch_mining,
                                 epoch_metrics,
                                 epoch_sync,
                                 estratum]}]}.

{overrides, [
  {override, aetx, [
    {erl_opts, [{d, 'TEST'},
                {parse_transform, lager_transform},
                debug_info
                ]
    }]}
  ]}.

