%% -*- mode: erlang; indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.
{minimum_otp_vsn, "22.3.4.9"}.

{deps, [{aesophia, {git, "https://github.com/aeternity/aesophia.git",
                    {ref, "d4ea7d5"}}},

        %% the following are deps copied from aeternity repo rebar.config
        %% and are needed since the aeternity repo is a submodule of aerepl

        {enoise, {git, "https://github.com/aeternity/enoise.git",
                 {ref, "8acbce9"}}},

        {setup, {git, "https://github.com/uwiger/setup.git", {ref, "52de0d4"}}},
        {gproc, "0.9.0"},
        {jobs, "0.9.0"},
        {exometer_core, "1.6.0"},
        {yamerl, "0.7.0"},
        {ephemeral, "2.0.4"},
        {sext, "1.8.0"},
        {argparse, "1.1.4"},
        {redbug, {git, "https://github.com/massemanet/redbug.git",
                 {ref, "697a967689b28fdc063df71da0c763ae0425239d"}}}, % tag: 2.0.7

        %% lager version with trace-based msg suppression (merged upstream)
        {lager, {git, "https://github.com/erlang-lager/lager.git",
                {ref, "fae5339"}}},
        {app_ctrl, {git, "https://github.com/aeternity/app_ctrl.git", {ref, "92b8ae6"}}},

        {cowboy, {git, "https://github.com/ninenines/cowboy.git",
                 {ref, "04ca4c5"}}}, % tag: 2.9.0"
        {idna, {git, "https://github.com/benoitc/erlang-idna",
               {ref, "6cff727"}}}, % tag: 6.0.0
        {nat, {git, "https://github.com/aeternity/erlang-nat.git",
              {ref, "dcdfb9c"}}},
        {jsx, {git, "https://github.com/talentdeficit/jsx.git",
              {ref, "3074d48"}}},
        {lz4, {git, "https://github.com/szktty/erlang-lz4.git",
              {ref, "9ea04f2"}}},

        %% deps originally from aeternity

        % The rocksdb dependencies are removed on win32 to reduce build times,
        % because they are currently not working on win32.
        {mnesia_rocksdb, {git, "https://github.com/aeternity/mnesia_rocksdb.git",
                         {ref, "c0ce3af"}}},

        {mnesia_leveled, {git, "https://github.com/aeternity/mnesia_leveled.git",
                         {ref, "5fda87f"}}},

        {aeminer, {git, "https://github.com/aeternity/aeminer.git",
                  {ref, "33be529"}}},

        {aebytecode, {git, "https://github.com/aeternity/aebytecode.git",
                     {ref, "7497345"}}},

        {aeserialization, {git, "https://github.com/aeternity/aeserialization.git",
                          {ref,"eb68fe3"}}},

        {aestratum_lib, {git, "https://github.com/aeternity/aestratum_lib.git",
                        {ref, "cee4b3c"}}},

        {ecrecover, {git, "https://github.com/aeternity/ecrecover.git",
                    {ref, "74b7816"}}},

        {emcl, {git, "https://github.com/aeternity/emcl.git",
               {ref, "e988f69"}}},

        %% forks

        {enacl, {git, "https://github.com/aeternity/enacl.git",
                {ref, "67fceef"}}},

        {jesse, {git, "https://github.com/for-GET/jesse.git",
                {tag, "1.5.5"}}},

        % upstream is not maintained anymore
        {base58, {git, "https://github.com/aeternity/erl-base58.git",
                 {ref,"60a3356"}}},

        % upstream is not maintained anymore
        {sha3, {git, "https://github.com/aeternity/erlang-sha3",
               {ref, "b5f27a2"}}},

        % for lightweight trace-based debugging
        {trace_runner, {git, "https://github.com/uwiger/trace_runner.git",
                        {ref, "69dc388"}}},

        % for hyperchains and the testing suite
        {aesophia_aci_encoder, {git, "https://github.com/aeternity/aesophia_aci_encoder",
          {ref, "110813d"}}}
       ]}.

{escript_main_app, aerepl}.
{escript_incl_apps, [aerepl, aesophia, aebytecode, enacl, aefate, aetx, aecontract, aecore]}.
% {escript_incl_extra, [{"_build/default/lib/enacl/priv/"}]}.

{dialyzer, [ {warnings, [unknown]}
           , {plt_apps, all_deps}
           , {base_plt_apps, [erts, kernel, stdlib, crypto, mnesia]}
           ]}.

{relx, [{release, {aerepl, "1.3.0"},
         [ aerepl, ranch, aesophia, aebytecode, parse_trans, aecore, aefate, aetx, enacl
         , {rocksdb, load}, {mnesia_rocksdb, load}
         ]},

        {dev_mode, true},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"},
        {include_erts, false},

        {overlay, [{copy, "VERSION" , "VERSION"},
                   {mkdir, "../aeternity/data/aecore/.genesis"},
                   {copy, "node/data/aecore/.genesis/accounts.json", "../aeternity/data/aecore/.genesis/accounts.json"},
                   {copy, "node/data/aecore/.genesis/accounts_test.json", "../aeternity/data/aecore/.genesis/accounts_test.json"}
                  ]},

        {extended_start_script, true},
        {extended_start_script_extensions, [
              {check_config, "extensions/check_config"},
              {keys_gen, "extensions/keys_gen"},
              {peer_key, "extensions/peer_key"},
              {export, "extensions/export_chain"},
              {messages_hash, "extensions/messages_hash"}
        ]}
       ]}.

{shell, [ {apps, [aerepl, aesophia, aebytecode]}
        ]}.

{pre_hooks,
  [ {compile, "erlc node/test/ct_eunit_xform.erl"}
  , {eunit, "erlc node/test/ct_eunit_xform.erl"}
  , {release, "erlc node/test/ct_eunit_xform.erl"}
  ]}.
{post_hooks,
  [ {compile, "rm -f ct_eunit_xform.beam"}
  , {eunit, "rm -f ct_eunit_xform.beam"}
  , {release, "rm -f ct_eunit_xform.beam"}
  ]}.


{erl_opts, [debug_info, {parse_transform, lager_transform},
            {lager_extra_sinks, [epoch_mining,
                                 epoch_metrics,
                                 epoch_sync,
                                 estratum]}]}.

% To expose some internal functions
{overrides, [
  {override, aetx, [
    {erl_opts, [{d, 'TEST'},
                {parse_transform, lager_transform},
                debug_info
                ]
    }]}
  ]}.

{profiles, [{prod, [{relx, [{dev_mode, false}
                           ,{include_erts, true}]}]}]}.
